Icon?
.DS_Store
TAGS
REVISION
*.tmproj
.settings
.project
.tasks-cache
.svn
/log/*.log
/tmp/**/*
/config/database.yml
*DONOTVERSION*
/vendor/src/**/*
/db/*.sqlite*
/public/ac/*
/coverage
/public/.htaccess
/public/dispatch.*
/public/index.*
Thumbs.db
/public/images/rails.png
.*.swp
db/schema.*
/nbproject
*~$
/doc*