body, html {
  margin: 0;
  padding: 0;
  border: none;
}

#planilha table {
  empty-cells: show;
  border-collapse: collapse;
  margin: auto;
  font: 9px Verdana;
  width: 1000px;
  /*table-layout: fixed;*/
}

  #planilha td, #planilha th {
    border: 1px dotted #CCC;
    padding: 2px;
  }

  #planilha td {
    text-align: center;
  }

    #planilha td form {
      margin: 0;
      padding: 0;
    }

      #planilha td form select {
        width: 100%;
        border: 1px dotted #DDD;
        height: 12px;
        font: 9px Verdana;
        text-align: center;
      }
      #planilha td form input[type=submit] {
        background: transparent;
        border: none;
        text-align: center;
        font: 9px Verdana;
        height: 14px;
        padding: 0;
        cursor: pointer;
      }

    #planilha tbody th, 
    #planilha thead td,
    #planilha tfoot td {
      width: 50px;
      font: 10px Arial;
    }

hr {
  border: 0 solid silver;
  height: 1px;
  background: black;
}

#planilha a {
  text-decoration: none;
  display: block;
}

#planilha a:hover {
  text-decoration: underline;
}

.turma {
  color: red;
}

form {
  text-align: center;
  margin: 15px;
}

form li {
  text-align: left;
}

