<h1>Listing professores</h1>

<p><%= link_to 'Cadastrar Professor', new_professor_path %></p>

<table>
  <tr>
    <th>Nome</th>
    <th>Apelido</th>
    <th></th>
  </tr>

<% for professor in @professores %>
  <tr>
    <td><%= link_to professor.nome, edit_professor_path(professor) %></td>
    <td><%=h professor.apelido %></td>
    <td><%= link_to 'disponibilidade', disponibilidades_professor_path(professor) %></td>
  </tr>
<% end %>
</table>
